form {
    margin: auto;
    padding: 38px 50px;
    width: fit-content;
    border-radius: 5px;

    .form-group {
        margin: 10px;
        padding: 10px 20px;
        width: 30rem;
        border-radius: 5px;
        background-color: lighten($black, 20%);
        box-shadow: 1px 1px 10px rgba($black, 0.2);

        label {
            pointer-events: none;
            position: absolute;
            margin: 17px 0 0 20px;
            color: rgba($black, 0.6);
            transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        input[type='text'],
        input[type='password'],
        textarea {
            width: 100%;
            padding: 10px 20px;
            margin: 8px 0;
            font-family: $font_primary;
            border-radius: 4px;
            box-sizing: border-box;
        }
    }

    .form-submit {
        position: relative;
    }

    input[type='submit'],
    button[type='button'] {
        cursor: pointer;
        padding: 10px 20px;
        margin: 8px 0;
        width: 15rem;
        font-family: $font_primary;
        color: $black;
        background-color: transparent;
        border: 3px solid $black;
        border-radius: 4px;
        transition: background-color 0.1s, color 0.1s;
        box-shadow: 1px 1px 10px rgba($black, 0.2);

        &:hover {
            color: $white;
            background-color: lighten($black, 10%);
        }
        &:active {
            transform: scale(0.99);
        }
    }

    .loading-ellipsis {
        position: absolute;
        left: 50%;
        transform: translate(-37px, -68px);

        div {
            position: absolute;
            top: 33px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $black;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);

            &:nth-child(1) {
                left: 8px;
                animation: loading-ellipsis1 0.6s infinite;
            }
            &:nth-child(2) {
                left: 8px;
                animation: loading-ellipsis2 0.6s infinite;
            }
            &:nth-child(3) {
                left: 32px;
                animation: loading-ellipsis2 0.6s infinite;
            }
            &:nth-child(4) {
                left: 56px;
                animation: loading-ellipsis3 0.6s infinite;
            }
        }
    }
}

// Error handling
.alert-danger {
    border: 1px solid #ff5b5f;
    background-color: #ffc5c1;
}

.alert-success {
    border: 1px solid #6eff5b !important;
}

.alert-submit-success {
    background-color: $primary !important;
    color: $white !important;
}

.alert-submit-danger {
    background-color: $black !important;
    color: $white !important;
}
