form {
    margin: auto;
    padding: 38px 50px;
    width: fit-content;
    border-radius: 5px;

    .form-group {
        margin: 10px;
        padding: 10px 20px;
        width: 30rem;
        border-radius: 5px;
        background-color: lighten($black, 20%);
        box-shadow: 1px 1px 10px rgba($black, 0.2);

        label {
            pointer-events: none;
            position: absolute;
            margin: 17px 0 0 20px;
            color: rgba($black, 0.6);
            transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

        input[type="text"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 10px 20px;
            margin: 8px 0;
            font-family: $font_primary;
            border-radius: 4px;
            box-sizing: border-box;
        }
    }

    input[type="submit"],
    button[type="button"] {
        cursor: pointer;
        padding: 10px 20px;
        margin: 8px 0;
        width: 15rem;
        font-family: $font_primary;
        color: $black;
        background-color: transparent;
        border: 3px solid $black;
        border-radius: 4px;
        transition: background-color 0.1s, color 0.1s;
        box-shadow: 1px 1px 10px rgba($black, 0.2);
    }

    input[type="submit"]:hover,
    button[type="button"]:hover {
        color: $white;
        background-color: lighten($black, 10%);
    }

    input[type="submit"]:active,
    button[type="button"]:active {
        transform: scale(0.99);
    }

    .loading-ellipsis {
        position: absolute;
        transform: translate(213px, -67px);
    }
}

// Error handling
.alert-danger {
    border: 1px solid #ff5b5f;
    background-color: #ffc5c1;
}

.alert-success {
    border: 1px solid #6eff5b !important;
}

.alert-submit-success {
    background-color: $primary !important;
    color: $white !important;
}

.alert-submit-danger {
    background-color: $black !important;
    color: $white !important;
}
