.img-container {
    .images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px;

        .image {
            height: 300px;
            min-width: 300px;

            img[lazy="loading"] {
                filter: blur(10px) grayscale(100%);
            }

            img {
                height: 300px;
                min-width: 300px;
                object-fit: cover;
                filter: blur(0);
                transition: filter .2s;
                overflow: hidden;
            }
        }
    }
}
