* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: $white;
}

#app {
    margin-top: 100px;
    text-align: center;
    font-family: $font_primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}

// Mixins
@mixin flex-basic {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Utility classes

.container {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
}

// Defaults

h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    white-space: pre-line;
    hyphens: auto;
}

span {
    display: block;
}

a {
    color: $black;
    text-decoration: none;
}

button {
    cursor: pointer;
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    color: $white;
    background-color: $primary;
    transition: background-color 0.1s;
    outline: none;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
    border: 1px solid transparent;
}

::selection {
    color: $white;
    background-color: $black;
}

button:hover {
    background-color: lighten($black, 30%);
}

button:active {
    transform: scale(0.99);
}

// Error handling

.alert-danger {
    border: 1px solid #ff5b5f;
    background-color: #ffc5c1;
}

.alert-success {
    border: 1px solid #6eff5b !important;
}

.alert-submit-success {
    background-color: $primary !important;
    color: $white !important;
}

.alert-submit-danger {
    background-color: $black !important;
    color: $white !important;
}
