* {
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#app {
	margin-top: 100px;
	text-align: center;
	font-family: $font_primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $dark;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    white-space: pre-line;
    hyphens: auto;
}

span {
	display: block;
}

a {
	color: $dark;
	text-decoration: none;
}

button {
	cursor: pointer;
	width: 15rem;
	height: 2rem;
	border: none;
	border-radius: 3px;
	color: $white;
	background-color: $primary;
	transition: background-color 0.1s;
	outline: none;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
    border: 1px solid transparent;
}

::selection {
    color: $white;
    background-color: $dark;
}

button:hover {
	background-color: lighten($dark, 30%);
}

button:active {
	transform: scale(0.99);
}

.alert-danger {
    border: 1px solid #ff5b5f;
    background-color: #ffc5c1;
}

.alert-success {
    border: 1px solid #6eff5b !important;
}

.alert-submit-success {
    background-color: $primary !important;
    color: $white !important;
}

.alert-submit-danger {
    background-color: $dark !important;
    color: $white !important;
}
