/* Utility classes */

.container {
    max-width: 730px;
    margin: 0 auto;
    position: relative;
}

.reverse-selection::selection {
    color: $black;
    background-color: $white;
}

/* Defaults */

h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    white-space: pre-line;
    hyphens: auto;
}

span {
    display: block;
}

a {
    color: $black;
    text-decoration: none;
}

button:not([type='button']) {
    cursor: pointer;
    width: 15rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    color: $white;
    background-color: $primary;
    transition: background-color 0.1s;
    outline: none;
}

input,
textarea {
    outline: none;
    border: none;
    resize: none;
    border: 1px solid transparent;
}

::selection {
    color: $white;
    background-color: $black;
}

button:hover {
    background-color: lighten($black, 30%);
}
button:active {
    transform: scale(0.99);
}
