@media only screen and (max-width: 700px) {
    #app {
        header {
            nav {
                width: 80%;
            }

            .scrollactive-nav {
                margin: 0 20px;
            }
        }

        .container {
            padding: 0 20px;

            .create-post {
                #create-post {
                    margin: 0;
                    width: unset;
                }
            }
        }

        form {
            margin: 10px auto;
            padding: unset;
            width: unset;
            max-width: 500px;

            .form-group {
                width: unset;
            }

            input[type="submit"] {
                width: 75%;
            }
        }

        .img-container {
            .images {
                .image {
                    height: unset;
                    min-width: unset;

                    img {
                        height: unset;
                        min-width: unset;
                        object-fit: unset;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
